<h1>Editar libro</h1>

<form action="/books/edit/{{_id}}" method="post">
    <label for="">Title:</label>
    <input type="text" name="title" value="{{title}}"><br>

    <label for="">Author:</label>
    <input type="text" name="author" value="{{author}}"><br>

    <label for="">Description:</label>
    <input type="text" name="description" value="{{description}}"><br>

    <label for="">Rate:</label>
    <input type="number" name="rating" value="{{rating}}"><br>

    <button type="submit">UPDATE</button>
</form>